:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.field {
    margin-bottom: 1rem;
}

.formgrid.grid {
    display: flex;
    gap: 1rem;
}

.field.col {
    flex: 1;
}

.order-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.status-entregado {
    background: #C8E6C9;
    color: #256029;
}

.status-pendiente {
    background: #FFD8B2;
    color: #805B36;
}
