USE [master]
GO
/****** Object:  Database [KekiKei]    Script Date: 26/11/2025 08:55:48 a. m. ******/
CREATE DATABASE [KekiKei]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KekiKei', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\KekiKei.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KekiKei_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\KekiKei_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KekiKei].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KekiKei]
GO
/****** Object:  Table [dbo].[contacto]    Script Date: 26/11/2025 08:55:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[message] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 26/11/2025 08:55:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[total] [money] NULL,
	[name] [varchar](100) NULL,
	[address] [varchar](512) NULL,
	[phone] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 26/11/2025 08:55:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](512) NULL,
	[price] [money] NULL,
	[image] [varchar](512) NULL,
	[category] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_pedido]    Script Date: 26/11/2025 08:55:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pedido] [int] NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[subtotal] [money] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedido] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[producto_pedido]  WITH CHECK ADD  CONSTRAINT [FK_producto_pedido_pedido] FOREIGN KEY([pedido])
REFERENCES [dbo].[pedido] ([id])
GO
ALTER TABLE [dbo].[producto_pedido] CHECK CONSTRAINT [FK_producto_pedido_pedido]
GO
ALTER TABLE [dbo].[producto_pedido]  WITH CHECK ADD  CONSTRAINT [FK_producto_pedido_producto] FOREIGN KEY([producto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[producto_pedido] CHECK CONSTRAINT [FK_producto_pedido_producto]
GO
USE [master]
GO
