<footer class="footer">
    <div class="footer-content">
    <div class="footer-section">
        <h3>KekiKeki</h3>
        <p>Dulces momentos para compartir.</p>
    </div>
    <div class="footer-section">
        <h4>Enlaces</h4>
        <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/menu">Menú</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Síguenos</h4>
        <div class="social-icons">
        <a href="https://www.instagram.com/keki_keki_pasto/" target="_blank"><i class="pi pi-instagram"></i></a>
        <a href="https://wa.link/1fa1bz" target="_blank"><i class="pi pi-whatsapp"></i></a>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
    <p>&copy; 2025 KekiKeki Repostería. Todos los derechos reservados.</p>
    </div>
</footer>
